{% extends "mumblr/themes/default/base.html" %}

{% load smart_if %}

{% block title %}Admin{% endblock %}

{% block content %}
<h2>Admin</h2>
<div class="clear"></div>

<h3>New Post</h3>
<ul class="inline">
{% for type in entry_types %}
    <li><a class="mbl-button" href="{% url add-entry type %}" title="New {{ type }} post">{{ type }}</a></li>
{% endfor %}
</ul>
<div class="clear"></div>
<h3>All Entries&nbsp; { {{ entries|length }} }</h3>
<ul class="lined-list">
{% for entry in entries %}
    {% if forloop.first %}
    <li class="first">
    {% else %}
        {% if forloop.last %}
        <li class="last">
        {% else %}
        <li>
        {% endif %}
    {% endif %}
    <span class="title">
    {% if entry.link_url %}
        <a href="{{ entry.link_url }}">
    {% else %}
        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title|safe }}">
    {% endif %}
    {{ entry.title|truncatewords:7|safe }}</a></span>&nbsp;<span class="date">{{ entry.publish_date|date:"F jS, Y" }}</span>
    <div class="edit-box">
    {% if not entry.published %}<span class="unpublished">Unpublished</span>&nbsp;
    {% else %}
        {% if entry.publish_date >= datenow and entry.publish_date %}<span class="unpublished">Future Publication</span>&nbsp;{% endif %}
        {% if entry.expiry_date < datenow and entry.expiry_date %}<span class="unpublished">Expired</span>&nbsp;{% endif %}
    {% endif %}
    {% if entry.comments_enabled %}
    <a href="{{ entry.get_absolute_url }}#comments" title="Comments" class="comments">{{ entry.comments|length|default:0|safe }}</a>
    {% else %}
    <span class="comments">Off</span>
    {% endif %}
    <form action="{% url delete-entry %}" method="post">
        <input type="hidden" value="{{ entry.id }}" name="entry_id" />
        <input type="submit" value="Delete" class="mbl-button mbl-button-primary" />
    </form>
    </li>
{% endfor %}
</ul>
{% endblock %}
