{% extends "mumblr/themes/default/base.html" %}

{% load typogrify %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="clear"></div>
{% if not entries.object_list %}
    There are no recent entries. {{ no_entries_messages|random|safe }}
{% endif %}
{% for entry in entries.object_list %}
    {% if not forloop.first %}
        <div class="hr-styled"></div>
    {% endif %}
    <div class="entry">
        {% if user.is_authenticated %}
            <div class="edit-box">
                <a class="mbl-button" href="{% url edit-entry entry.id %}">Edit</a>&nbsp;
                <form action="{% url delete-entry %}" method="post">
                    <input type="hidden" value="{{ entry.id }}" name="entry_id" />
                    <input type="submit" value="Delete" />
                </form>
            </div>
        {% endif %}
        <h3>
            {% if entry.link_url %}
                <a target="_blank" class="external-link" href="{{ entry.link_url }}">
            {% else %}
                <a href="{{ entry.get_absolute_url }}">
            {% endif %}
            {{ entry.title|safe|typogrify }}</a>
        </h3>
            <div class="post-info">
            <p>
            {% if entry.comments_enabled %}
            <a href="{{ entry.get_absolute_url }}#comments" class="comments">{{ entry.comments|length|default:0|safe }} Comment{{ entry.comments|length|default:0|pluralize }}</a>
            {% else %}
            <span class="comments">Comments closed</span>
            {% endif %}
            &nbsp;<span class="date">{{ entry.publish_date|date:"F jS, Y" }}</span></p>
            {% if entry.tags %}
                <ul class="inline-tag-list">
                {% for tag in entry.tags %}
                    <li><a class="tag" href="{% url tagged-entries tag %}"><span>{{ tag }}</span></a></li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="clear"></div>
            </div>
        {{ entry.rendered_content|safe|typogrify }}
        <a href="{{ entry.get_absolute_url }}" style="float: right">Permalink</a>
    </div>
{% endfor %}
{% if entries.has_other_pages %}
    <div class="hr-styled"></div>
{% endif %}
{% if entries.has_previous %}
    <a href="{% url recent-entries entries.previous_page_number %}" style="float: left;">
        <h4>&lt;&lt; Newer</h4>
    </a>
    <br />
{% endif %}
{% if entries.has_next %}
    <a href="{% url recent-entries entries.next_page_number %}" style="float: right;">
        <h4>Older &gt;&gt;</h4>
    </a>
    <br />
{% endif %}
{% endblock %}
