body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #0044ff;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

.edit-box {
    float: right;
}

.post-info {
    color: #888;
}
