{% load mumblr_csrf %}

<html>
    <head>
        <title>{{ title|striptags }} | Mumblr</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/grey-theme.css" />
    </head>
    <body>
        <div class="container">
        <div class="pagehead">
            <div class="content">

            <div class="left-column">
            <div class="fold-box"><span class="fold"></span>
            <h1><a href="{% url recent-entries %}">Mumblr</a></h1>
            </div>

            {% if user.is_authenticated %}
            <div class="fold-box">
                <span class="fold"></span>
                <h4>
                {% if user.first_name %}
                    {{ user.first_name }} 
                    {% if user.last_name %}
                        {{ user.last_name }} 
                    {% endif %}
                {% else %}
                    {{ user.email }}
                {% endif %}
                </h4>
                <p>Welcome back!</p>
                <p><a class="mbl-button" href="{% url admin %}">Admin</a>&nbsp;<a class="mbl-button mbl-button-primary" href="{% url log-out %}?{% csrf_url_token %}">Log out</a>
                </p>
            </div>
            {% endif %}
            </div> <!-- /left-column -->

            <h2>{{ title|safe }}</h2>


            {% block content %}{% endblock %}
            </div> <!-- /content-->
        </div> <!-- /pagehead -->
        </div> <!-- /container -->
        <div class="footer">
            <div class="container">
            {% if user.is_authenticated %}
                <a class="mbl-button mbl-button-primary" href="{% url log-out %}?{% csrf_url_token %}">Log out</a>
            {% else %}
                <p><a class="mbl-button mbl-button-primary" href="{% url log-in %}">Log in</a></p>
            {% endif %}
            </div>
        </div>
    </body>
</html>
