{% extends "mumblr/base.html" %}

{% load mumblr_csrf %}
{% load typogrify %}

{% block content %}
{% for entry in entries %}
    <div class="entry">
        {% if user.is_authenticated %}
            <div class="edit-box">
                <a class="mbl-button" href="{% url edit-entry entry.id %}">Edit</a>&nbsp;<a class="mbl-button mbl-button-primary" href="{% url delete-entry entry.id %}?{% csrf_url_token %}">Delete</a>
            </div>
        {% endif %}
        <h3>
            {% if entry.link_url %}
                <a href="{{ entry.link_url }}">
            {% else %}
                <a href="{{ entry.get_absolute_url }}">
            {% endif %}
            {{ entry.title|title|safe|typogrify }}</a></h3>
            <div class="post-info">
            <p><a href="{{ entry.get_absolute_url }}#comments" class="comments">{{ entry.comments|length|default:0|safe }} Comment{{ entry.comments|length|default:0|pluralize }}</a>&nbsp;<span class="date">{{ entry.date|date:"F jS, Y" }}</span></p>
            {% if entry.tags %}
                <ul class="inline-tag-list">
                {% for tag in entry.tags %}
                    <li><a class="tag" href="{% url tagged-entries tag %}"><span>{{ tag }}</span></a></li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="clear"></div>
            </div>
        {{ entry.rendered_content|safe|typogrify }}
        {% if not forloop.last %}
            <div class="hr-styled"></div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
